@model ELearningProject.DAL.Entities.Instructor

@{
    ViewBag.Title = "UpdateInstructor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Eğitmen Güncelleme Sayfası</h3>
<form method="post" enctype="multipart/form-data">
    <br />
    <input type="hidden" name="InstructorID" value="@Model.InstructorID" />
    <label>Eğitmen Adı</label>
    <input type="text" name="Name" value="@Model.Name" class="form-control" />
    <br />
    <br />
    <label>Eğitmen Soyadı</label>
    <input type="text" name="surname" value="@Model.Surname" class="form-control" />
    <br />
    <br />
    <label>Eğitmen Görseli</label>
    <br />
    <img src="~/Images/@Model.ImageURL" width="90" />
    <input type="file" name="image" class="form-control" />
    <br />
    <br />
    <button class="btn btn-primary">Eğitmeni Güncelle</button>
</form>