@model ELearningProject.DAL.Entities.Role

@{
    ViewBag.Title = "UpdateRole";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Rol Güncelleme Sayfası</h3>
<form method="post">
    <br />
    <input type="hidden" name="RoleID" value="@Model.RoleID" />
    <label>Rol Adı</label>
    <input type="text" name="RoleName" value="@Model.RoleName" class="form-control" />
    <br />
    <br />
    <button class="btn btn-primary">Rol Ekle</button>
</form>

