@model ELearningProject.DAL.Entities.Student

@{
    ViewBag.Title = "AddStudent";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yeni Öğrenci Bilgileri</h3>
<form method="post">
    <br />
    <label>Öğrenci Adı</label>
    <input type="text" name="Name" class="form-control" required />
    <br />
    <br />
    <label>Öğrenci Soyadı</label>
    <input type="text" name="surname" class="form-control" required />
    <br />
    <br />
    <label>Öğrenci Mail Adresi</label>
    <input type="email" name="Email" class="form-control" required />
    <br />
    <br />
    <label>Öğrenci Şifre</label>
    <input type="password" name="Password" class="form-control" required />
    <br />
    <br />
    <button class="btn btn-primary">Öğrenciyi Kaydet</button>
</form>