@model ELearningProject.DAL.Entities.Course

@{
    ViewBag.Title = "CourseDetail";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />

@{
    ViewBag.Title = Model.Title;
    var ratings = (IEnumerable<ELearningProject.DAL.Entities.Review>)ViewBag.ratings;
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}

<h2>@Model.Title</h2>
<br />
<div>
    <span class="starFadeN" id="sRate1"></span><span class="starFadeN" id="sRate2"></span><span class="starFadeN" id="sRate3"></span><span class="starFadeN" id="sRate4"></span><span class="starFadeN" id="sRate5"></span>
</div>
<div>
    <div class="col-md-4 col-xs-12">
        <img src="~/Images/@Model.ImageURL" alt="user" class="img-responsive radius">
    </div>
    <div class="col-md-4 col-xs-12">
        Açıklama: @Model.Description
        <br />
        Durum: @Model.Duration dakika
    </div>
</div>
@foreach (var item in ratings)
{
    <hr />
    <div class="row">
        <div class="col-md-3">
            <br />
            @for (var i = 1; i <= item.ReviewScore; i++)
            {
                <span class="starGlowN"></span>
            }
            @for (var i = (item.ReviewScore + 1); i <= 5; i++)
            {
                <span class="starFadeN"></span>
            }
        </div>
    </div>
}
<hr />


<script>
    function SCRate() {
        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function(){
        SCRate();
    });
</script>