@model ELearningProject.DAL.Entities.Student

<div class="tab-pane" id="profile" role="tabpanel">
    <div class="card-block">
        <div class="row">
            <div class="col-md-4 col-xs-6 b-r">
                <strong>Ad Soyad</strong>
                <br>
                <p class="text-muted">@Model.Name @Model.Surname</p>
            </div>
            <div class="col-md-4 col-xs-6 b-r">
                <strong>Email</strong>
                <br>
                <p class="text-muted"><a href="#" target="_blank">@Model.Email</a></p>
            </div>
            <div class="col-md-4 col-xs-6 b-r">
                <strong>Telefon</strong>
                <br>
                <p class="text-muted"><a href="#" target="_blank">@Model.PhoneNumber</a></p>
            </div>
        </div>
        <hr>
        <p class="m-t-30"></p>
    </div>
</div>
