@model List<ELearningProject.DAL.Entities.Process>

<div class="tab-pane" id="settings" role="tabpanel">
    <div class="card-block">
        @foreach (var item in Model)
        {
            <div class="sl-item">
                <div class="sl-left"></div>
                <div class="sl-right">
                    <div>
                        <a href="#" class="link">@item.Course.Title</a>
                        <span class="sl-date">@((int)item.Course.Duration / 60) Saat @((int)item.Course.Duration % 60) Dakika</span>
                        <div class="m-t-20 row">
                            <div class="col-md-3 col-xs-12">
                                <img src="~/Images/@item.Course.ImageURL" alt="user" class="img-responsive radius">
                            </div>
                            <div class="col-md-9 col-xs-12">
                                <p>@item.Course.Description</p>
                                <a href="/Course/CourseDetail/@item.CourseID" class="btn btn-success"> Kursa Git</a>
                            </div>
                        </div>
                        <div class="like-comm m-t-20">
                            <a href="javascript:void(0)" class="link m-r-10">0 Yorum</a>
                            <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 4.7 Puan</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        }
    </div>
</div>
